@page
@model FavouritesModel

@{
    ViewData["Title"] = "Favourites";
    ViewData["ActivePage"] = ManageNavPages.Favourites;
    ;
}

<h3>@ViewData["Title"]</h3>
<p>Your Favourite Decks</p>
<!--User's favorites decks-->
<div class="container-fluid">
    <div class="row">
        @if (Model.UserFavorites.Count() == 0)
        {
            <div class="col-md-12">
                <h1 class="text-center">You have no decks</h1>
                <a class="nav-link text-dark" asp-area="" asp-controller="Decks" asp-action="Index">DECKS</a>
            </div>
            <!--Create new deck-->
        }
        else
        {
            <div class="col-md-12">
                <h1 class="text-center">Your Decks</h1>
            </div>
        }
        @foreach (var favorite in Model.UserFavorites)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="min-height: 150px;">
                    <div class="card-header text-truncate">
                        <h5 class="card-title">@favorite.Deck.Title</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-truncate">@favorite.Deck.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Subject: @favorite.Deck.Subject</small>
                        <a asp-controller="Decks" asp-action="Details" asp-route-id="@favorite.Deck.DeckID" class="btn btn-primary w-100">
                            <i class="bi bi-view-list">View</i>
                        </a>
                    </div>
                </div>
            </div>
        }


    </div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}