@page
@model MyDecksModel
@{
    ViewData["Title"] = "My Decks";
    ViewData["ActivePage"] = ManageNavPages.MyDecks;
}

<div>
    @if (Model.UserDecks.Count() == 0)
    {
        <div class="col-md-12">
            <h1 class="text-center">You have no decks</h1>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <h1 class="text-center">Your Decks</h1>
        </div>
        <div class="row" style="--bs-gutter-x: 32px;">
            @foreach (var deck in Model.UserDecks)
            {
                <div class="col-md-4 p-3">
                    <div class="card mb-4 carddeck">
                        <div class="card-header bg-dark text-white">
                            <h5>@deck.Title</h5>
                            <small class="text-muted">@deck.Subject</small>
                        </div>
                        <div class="card-body">
                            <p class="mb-2 text-truncate w-100"><span class="fw-bold">Description:</span> @deck.Description</p>
                        </div>
                        <div class="d-flex justify-content-start m-3">
                            <a asp-controller="Decks" asp-action="Details" asp-route-id="@deck.DeckID" class="btn btn-outline-secondary">View</a>
                            <a asp-controller="Decks" asp-action="Delete" asp-route-id="@deck.DeckID" class="btn btn-outline-danger mx-1">Delete</a>
                            <a asp-controller="Decks" asp-action="Edit" asp-route-id="@deck.DeckID" class="btn btn-outline-primary">Edit</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}