@model DetailsDeckViewModel;
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager;
@{
    ViewData["Title"] = "Details";
}

<section class="p-5">
    <div class="mb-3">
        <h1>Created by: @@@Html.DisplayFor(model => model.UserName)</h1>
    </div>
    <hr />
    <div class="p-2 d-flex justify-content-between">
        <div>
            <h1>@Html.DisplayFor(model => model.Title)</h1>
            <p><strong><small>@Html.DisplayFor(model => model.Subject)</small></strong></p>
            <p><small>@Html.DisplayFor(model => model.Description)</small></p>
        </div>

        <div class="align-self-center">
            <div class="row">
                @if (SignInManager.IsSignedIn(User))
                {
                    <form method="post" asp-controller="Favorites" asp-action="Favorite">
                        @if (Model.Favorites.Any(favorite => favorite.UserName == UserManager.GetUserName(User) && favorite.DeckID == Model.DeckID))
                        {
                            <button type="submit" class="btn btn-warning"><i class="bi bi-star-fill">Favourite</i></button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-outline-warning"><i class="bi bi-star">Favourite</i></button>
                        }
                    </form>
                }
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Cards in this Deck
        </div>
        <div class="card-body">
            @if (Model.Cards.Any())
            {
                foreach (var card in Model.Cards)
                {
                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserName(User) == Model.UserName)
                    {
                        <div class="row mb-4 w-100 d-flex justify-content-between row align-content-center">
                            <!-- Question Card -->
                            <div class="col-md-5">
                                <div class="card bg-dark text-white">
                                    <div class="card-body">
                                        <h5 class="card-title">Question</h5>
                                        <p class="card-text">@card.Question</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Answer Card -->
                            <div class="col-md-5">
                                <div class="card">
                                    <div class="card-body hidden-answer">
                                        <h5 class="card-title">Answer</h5>
                                        <p class="card-text">@card.Answer</p>
                                    </div>
                                    <button class="toggle-answer-btn">Show Answer</button>
                                </div>
                            </div>
                            <!--Only user who created the deck then card can edit and delete-->
                            <!-- Edit & Delete Actions -->
                            <div class="col-md-1 row align-self-center p-0" style="min-width: 90px;">
                                <a asp-controller="Cards" asp-action="Edit" asp-route-id="@card.CardID" class="btn btn-primary my-2 min-"><i class="bi bi-pen">Edit</i></a>
                                <form class="p-0 my-2" method="post" asp-controller="Cards" asp-action="Delete">
                                    <input type="hidden" name="id" value="@card.CardID" />
                                    <input type="hidden" name="deckId" value="@Model.DeckID" />
                                    <button type="submit" class="btn btn-danger w-100"><i class="bi bi-trash">Delete</i></button>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row mb-4 w-100 d-flex justify-content-between row align-content-center">
                            <!-- Question Card -->
                            <div class="col-md-5">
                                <div class="card bg-dark text-white">
                                    <div class="card-body">
                                        <h5 class="card-title">Question</h5>
                                        <p class="card-text">@card.Question</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Answer Card -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body hidden-answer">
                                        <h5 class="card-title">Answer</h5>
                                        <p class="card-text">@card.Answer</p>
                                    </div>
                                    <button class="toggle-answer-btn">Show Answer</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <!-- Display a message if no cards are available for this deck -->
                <p>No cards available for this deck.</p>
            }
        </div>
    </div>
    <!-- Cards Display end-->

    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserName(User) == Model.UserName)
    {
        <!-- Begin Card Creation Form -->
        <div class="card mt-4">
            <div class="card-header">
                Add a New Card
            </div>
            <!-- Display the card creation form from card controller-->
            <div class="card-body" id="partial-view-container" data-url="@Url.Action("CreateCardPartialView", "Cards", new { deckId = Model.DeckID, question = Model.Question, answer = Model.Answer, check = Model.Check })">
            </div>
        </div>
        <!-- End Card Creation Form -->
        <div class="d-flex justify-content-between pt-3">
            <a asp-action="Index" class="btn btn-success">Back to List</a>
            <div>
                <a asp-controller="Decks" asp-action="Edit" asp-route-id="@Model.DeckID" class="btn btn-primary mx-3">Edit Deck</a>
                <a asp-controller="Decks" asp-action="Delete" asp-route-id="@Model.DeckID" class="btn btn-danger">Delete Deck</a>
            </div>
        </div>
    }
</section>